# dependencies
/node_modules

# build output
/build
/dist

# misc
.DS_Store
*.tgz

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# editor/system files (optional, can be in global gitignore)
.idea/
.vscode/

# astro
.astro

# env
.env

# 原始圖片上傳資料夾（上傳至 Cloudflare R2 後不需提交至 Git）
/photos